/*Código armado por La Foca Loca S.A. No modificar*/

body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

#titulo h2{
  padding: 10px;
  background: #fbfbfb;
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40 p {
  font-size: 20px;
  color: #000;
  text-align: center;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  width: 40%;
  text-align: center;
}

.col-60 {
  background: #E84A5F;
  width: 60%;
}

.col-60 .piezas{
  width: calc(100% / 3);
  float: left;
  margin: 0px auto;
}

.col-60 .comienzo_content {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.col-60 .comienzo_content .comienzo{
  line-height: 500px;
}

.col-60 .comienzo_content .comienzo button{
  padding: 3% 5%;
  cursor: pointer;
  background: #E84A5F;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  transition-duration: 0.4s;
}

.col-60 .comienzo_content .comienzo button:hover{
  background: #568EE8;
  border: 0px;
  color: #000;
}

.col-60 .piezas img{
  width: 99%;
  border: 1px solid #427e89;
}

#ultimo-mov {
  padding: 10px;
  background: #fbfbfb;
  margin: 10px 0px;
}

#ultimo-mov #flecha,#mov{
  display: inline-block;
}

#ultimo-mov #flecha{
  width: 38%;
}

#ultimo-mov #mov{
  width: 60%;
}

.texto-centrado {
  text-align: center;
}

#objetivo .texto-centrado img {
  width: 50%;
}

#juego {
  display: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

#footer {
  width: 100%;
  text-align: center;
  padding: 10px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
